@import url(../fonts/fonts.css);

* {
    box-sizing: border-box;
    font-family: 'Noto';
}

body {
    background-color: #E5E5E5;
}

:root {
    --root: 'Noto';
    --white: #FFFFFF;
    --text: #313131;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

/* nav start */

.nav__link span {
    font-size: 14px;
    font-weight: 400;

}

.nav__link {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.05em;
    line-height: 143%;
    color: white;

}

.nav__link:hover {
    color: white;
}

.nav__bar {
    background-color: var(--text);
    height: 50px;
    outline: unset;
}






.all__about {
    height: 50px;
    width: 190px;
    background-color: var(--text);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
    border-radius: unset;
}

.all__about:hover {
    background-color: var(--text);
    color: white;

}

.button {
    font-size: 14px;
    line-height: 120%;
    font-weight: 300;
    border-color: #313131;

}

.input {
    max-width: 440px;
    width: 100%;
    height: 100%;
    border-radius: unset;
    border: 1px solid black !important;
}

.form-control:focus {
    box-shadow: unset;
}

.all__about:hover {
    border-color: #313131;
}

.button::before {
    content: '\f002';
    font-family: 'Font Awesome 5 Pro';
    margin-right: 8px;

}

.form {
    max-width: 630px;
    width: 100%;

}

.row {
    --bs-gutter-x: 0;
}



/* nav end */
/* header start */
.list {
    list-style: none;
    max-width: 1070px;
    width: 100%;
    gap: 30px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.list__link {
    color: var(--text);
    letter-spacing: 0.05em;
    font-size: 16px;
    font-weight: normal;
    line-height: 150%;
}

.list__link:hover {
    color: black;
}

.carousel__img {
    max-width: 740px;
    width: 100%;
    max-height: 600px;
    height: 100%;
    position: relative;
}

.carousel-item.active {
    position: relative;
    z-index: 1;
}

.carousel__img2 {
    position: absolute;
    height: 550px;
    top: -60px;
    left: 60px;
    z-index: -1;
    transform: scale(0);
    transition: .7s;

}

.carousel-item.active:hover .carousel__img2 {
    transform: scale(1);
}





.title {
    max-width: 624px;
    width: 100%;
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--text);
}

.carousel-indicators {
    position: static;
    margin: 0;
    padding-right: 38px;
    justify-content: end;
}

.carousel__info {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    background-color: #ababab !important;
}

.carousel-indicators [data-bs-target] {
    opacity: 1;
    transition: .5s;
}

.carousel__info.active {
    width: 15px !important;
    height: 15px !important;
    background-color: var(--text) !important;
}

.carousel__subtitle {
    flex-direction: column;
}

.form__about {
    max-width: 630px;
    width: 100%;
}

.form__info {
    display: flex;
    justify-content: end;
}

.shop {
    margin-top: 120px;
}

/* header end */
/* carousel start */
.nav__info a {
    color: var(--text);
    font-size: 18px;
}


/* carousel end */
/* grid start */

.grid__info {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    position: relative;
}

.box__1::after {
    content: '-57%';
    width: 70px;
    height: 70px;
    position: absolute;
    top: 15px;
    background-color: var(--text);
    color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 150%;
}

.box__2::after {
    content: '-30%';
    width: 70px;
    height: 70px;
    position: absolute;
    top: 15px;
    background-color: var(--text);
    color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 150%;
}

.box__3::after {
    content: '-20%';
    width: 70px;
    height: 70px;
    position: absolute;
    left: 20px;
    bottom: 15px;
    background-color: var(--text);
    color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 150%;
}

.box__4::after {
    content: '-10%';
    width: 70px;
    height: 70px;
    position: absolute;
    left: 20px;
    bottom: 15px;
    background-color: var(--text);
    color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 150%;
}


.box__1 {
    grid-row: span 2;
    grid-column: span 2;
    background-image: url(../images/grid__1.png);
    background-position: center;
    background-repeat: no-repeat;
}

.box__2 {
    grid-column: span 2;
    background-image: url(../images/grid_-2.png);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
}

.box__3 {
    background-image: url(../images/grid__3.png);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;

}

.box__4 {
    background-image: url(../images/grid__4.png);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;

}

.box__item {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 15px;
    min-height: 235px;
    background-color: #f4f4f4;
    transition: .5s;
}

.box__1__name {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
}

.box__1__cost {
    margin-top: 12px;
    font-weight: 300;
    font-size: 24px;
    line-height: 100%;
}

.box__item:hover {
    filter: drop-shadow(-10px 5px 4px rgba(0, 0, 0, 0.25));
    transform: scale(1.01);
}


/* grid end */
.learn__more {
    margin: 30px auto 70px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 20px;
}

/* phones start */
.subtitle {

    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
    color: var(--text);
    margin-left: 30px;
}

.iphones {
    max-width: 300px;
    height: 330px;
    width: 100%;
    padding: 0px 15px;
    justify-content: end;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: .5s;
    padding-bottom: 5px;

}

.phones__img {
    position: absolute;
    top: 0px;
    left: 1%;
    z-index: -1;
    max-width: 320px;
    width: 100%;
}

.comp__img {
    max-width: 308px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: -2%;
    z-index: -1;
}


.phones__shadow {
    position: absolute;
    top: 190px;
    left: 0;
    z-index: -2;
    transform: scale(0);
    transition: .7s;
}

.iphones:hover {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 50%);
}

.iphones:hover .phones__shadow {
    transform: scale(1);
}

.iphones:hover .buy {
    transform: scale(1);
}

.iphones:hover.iphones::after {
    transform: scale(1);
}



.iphones::after {
    content: '\f004';
    font-family: 'Font Awesome 5 Pro';
    font-size: 14px;
    position: absolute;
    top: 17px;
    right: 15px;
    transform: scale(0);
    transition: .5s;

}

.iphones__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: var(--text);
}

.iphones__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 130%;
    margin-top: 5px;
    margin-bottom: 15px;
}

.buy {
    width: 100px;
    height: 30px;
    transform: scale(0);
    transition: .5s;
}


/* phones end */
/* compyuter start */
.comp__shadow {
    position: absolute;
    top: 20px;
    left: 0;
    z-index: -2;
    transform: scale(0);
    transition: .7s;
}

.iphones:hover .comp__shadow {
    transform: scale(1);
}

/* compyuter end */
/* pl5 start */
.pl5 {
    margin-bottom: 70px;
}

.pl5__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.pl5__logo {
    width: 270px;
}

.pl5__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    margin-top: 20px;
    margin-bottom: 70px;
    max-width: 520px;
    width: 100%;
}

.watch__now {
    text-transform: uppercase;
}

.pl5__img {
    max-width: 560px;
    width: 100%;
}

.pl5__shadow {
    max-width: 700px;
    width: 100%;
    position: absolute;
    top: 50px;
    left: -50px;
    z-index: -1;
    transform: scale(0);
    transition: .5s;
}

.pl5__about:hover .pl5__shadow {
    transform: scale(1);
}

/* pl5 end */
/* top seller start */
.siller__shadow {
    position: absolute;
    top: 10px;
    left: 37px;
    z-index: -2;
    transform: scale(0);
    transition: .5s;
}

.iphones:hover .siller__shadow {
    transform: scale(1);
}

/* top seller end */
/* foooter start */
.footer {
    padding-top: 30px;
    padding-bottom: 45px;
    background-color: var(--text);
    color: white;
}

.desc__title {
    font-size: 18px;
    line-height: 135%;
    margin-bottom: 5px;
}

.form__footer {
    display: flex;
    max-width: 520px;
    width: 100%;
    height: 50px;
}

.form__footer input {
    outline: unset;
    border: none;
    max-width: 330px;
    width: 100%;
}

.form__footer button {
    width: 190px;
    outline: unset;
    border: none;
    background-color: var(--text);
    color: white;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.footer__list {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.footer__link a {
    color: white;
    font-size: 18px;
    line-height: 135%;
}

.footer__icon {
    display: flex;
    gap: 25px;
}

.all__icon {
    font-size: 41px;
    color: white;
    margin-top: 35px;

}

/* foooter end */